@import 'utility';

#productspage {
  margin: 50px;
}

#productleft {
  display: flex;
  flex-direction: row;
  margin-right: 500px;
  justify-content: space-between;
  margin: 0, 1%, 1%, 1%;
}

#productright {
  display: flex;
  flex-direction: row;
  margin-right: 500px;
  justify-content: space-between;
  margin: 0, 1%, 1%, 1%;
  margin-bottom: 100px;
}

#rightside {
  margin-left: 850px;
  display: block;
  bottom: 600px;
  position: relative;
  margin: 0, 1%, 1%, 1%;
  // flex-direction: ;
  // justify-content: space-between;
}

#mrright {
  margin: 0, 1%, 1%, 1%;

}

#quantity {

}

#size {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  #sizes{
    font-size: 11px;
  }
}

h6 {
  text-align: center;
  align-items: center;
}

#p {
  font-size: 11px;
}

h4 {
  color: black;
}

#addtobag {
  text-shadow: 2px;
  font-color: white;
  background-color: black;
}
