@import 'utility';

#apartmentlayout {
  justify-content: space-between;
  margin: 50px;

}

#apartmentimg1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
}

#apartmentimg2 {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
}

#apartmentimg3 {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
}

#apartmentimg4 {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
}

#apartmentimg5 {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
}

#apartmentimg7 {
  display: flex;
  margin-top: 35px;
  flex: 1;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
}

#apartmentnewarrival1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 35px;
  justify-content: space-between;
}

#apartmentstories {
  justify-content: space-between;
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 25px;
  #apartmentstoriesrow {
    justify-content: space-between;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 25px;
    #apartmentstoriesitems {
      justify-content: space-between;
      display: flex;
      flex: 1;
      flex-direction: row;
      margin-bottom: 25px;
    }
  }
}

#trends {
  list-style-type: none;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  display: flex;
  margin-bottom: 25px;
  #trendone {
    list-style-type: none;
    justify-content: space-between;
    list-style-type: none;
    flex-direction: row;
    flex: 1;
    #trendingone {
      list-style-type: none;
      justify-content: space-between;
      display: flex;
      margin-bottom: 25px;
      flex-direction: row;
      flex: 1;
    }
  }
}

#apartmenttwo {
  list-style-type: none;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  display: flex;
  margin-bottom: 25px;
}

#blogitem1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
}

#yourcommunity {
  margin-bottom: 35px;
}
