@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

main {
  align-items: center;
}

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  // background-color: black;
  // background-image: url('http://www.intrawallpaper.com/static/images/3d-nature-hd-free-wallpaper-backgrounds.jpg');
}

h2 {
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;

}

ul {
  display: flex;
  justify-content: space-between;
  top: -20px;
  align-items: center;
  position: fixed;
  text-align: center;
  background-color: #fff;
  width:100%;
}

li {
  position: relative;
  width: 300px;
  justify-content: space-between;
  padding: 10px;
  //bottom: 55px;
  text-align: center;
  align-content: flex-start;
  list-style-type: none;
  // background-color: rgb(221, 176, 221);
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

li.kramer {
  text-align: left;
}

footer {
  color: black;
  text-align: center;
  margin-top: 0px;
  bottom: -25px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

article {
  margin: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.model {
  position: relative;
  margin: 50px;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.gift {
  position: relative;
  margin: 50px;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.apartment {
  position: relative;
  margin: 50px;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.others {
  position: relative;
  margin: 50px;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.rewards {
  position: relative;
  margin: 50px;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.community {
  position: relative;
  margin: 50px;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  top: 60px;
}

.footerimg {
  position: relative;
  margin: 50px;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  top: 60px;
}
